{% extends "layout.html" %}
{% block title %}
Student Info
{% endblock %}

<!-- -------------------------------------------------------------------- -->

{% block css %}

{% endblock %}

<!-- -------------------------------------------------------------------- -->

{% block content%}
<div class="container">
    <!-- student code start -->
    <h1>Student Info</h1>
    <br/>
    <h4>id: {{id}}</h4>
    <br/>
    <h4>username: {{username}}</h4>
    <br/>
    <h4>password: {{password}}</h4>
    <br/>
    <h4>email: {{email}}</h4>
    <br/>
    <!-- student code end -->
</div>
{% endblock%}

<!-- -------------------------------------------------------------------- -->

{% block js %}

{% endblock %}